.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;           /* Take full screen height */
    box-sizing: border-box;
  }

.chat-header {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin:5px;
    color: #2c61e7;
    text-shadow:
    -1px -1px 0 rgb(12, 5, 150),
    1px -1px 0 rgb(12, 5, 150),
    -1px  1px 0 rgb(12, 5, 150),
    1px  1px 0 rgb(12, 5, 150);
  }

.loading {
    text-align: center;
    font-size: 1.2rem;
    color: #2c61e7;
    animation: pulse 1.5s infinite;
    margin-top: 1rem;
    padding: 30px;
}

@keyframes pulse {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}
