.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;           /* Take full screen height */
    padding: 1rem;
    box-sizing: border-box;
  }

.chat-header {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #2c61e7;
    text-shadow:
    -1px -1px 0 rgb(12, 5, 150),
    1px -1px 0 rgb(12, 5, 150),
    -1px  1px 0 rgb(12, 5, 150),
    1px  1px 0 rgb(12, 5, 150);
  }
  