.parent-container {
  display: flex;
  flex-direction: row;
  height: 98vh;
}

.container {
  flex: 1; /* equal width */
  border: 3px solid #c2d4d2; /* optional, for visibility */
  padding: 16px;
  box-sizing: border-box;
  border-radius: 10px;
}
