.parent-container {
  display: flex;
  flex-direction: row;
  height: 98vh;
  padding: 16px;
  gap: 16px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.parent-container.fade-in{
  opacity: 1;
}

.container {
  flex: 1; /* equal width */
  border: 3px solid #c2d4d2; /* optional, for visibility */
  padding: 16px;
  box-sizing: border-box;
  border-radius: 10px;
}

.container.big {
  flex: 1.3;
}

.loading-screen {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.loading-screen.fade-out {
  opacity: 0;
}
