.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin: 12px;
    flex: 1;
    max-height: 125px;
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for hover effects */
}

.row:hover {
    transform: scale(1.1); /* Slightly grow the row */
    box-shadow: 0 0 40px rgba(129, 129, 202, 0.5); /* Deep blue shadow with more prominence */
    background-color: rgba(240, 240, 240, 0.2); /* Optional: Light background color */
}

.cell {
    flex: 1;
    align-items: center;
}

#openPrice,
#closePrice,
#name,
#date {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#closePrice {
    border-radius: 8px;
}

#openPrice p,
#closePrice p,
#name p,
#date p {
    margin: 0px;
}

#openPrice h3,
#closePrice h3,
#name h3,
#date h3 {
    margin: 0px;
    text-decoration: underline;
    font-style: italic;
    font-size: 20px;
}

.green-bg {
    background-color: rgba(0, 255, 0, 0.15); /* Green with 30% opacity */
}

.red-bg {
    background-color: rgba(255, 0, 0, 0.15); /* Red with 30% opacity */
}