.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin: 12px;
    flex:1;
    max-height:125px;
}

.cell{
    flex: 1;
    align-items: center;
}

#openPrice,
#closePrice,
#name,
#date{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#closePrice{
    border-radius: 8px;
}

#openPrice p,
#closePrice p,
#name p,
#date p{
    margin:0px;
}

#openPrice h3,
#closePrice h3,
#name h3,
#date h3{
    margin:0px;
    text-decoration: underline;
    font-style: italic;
    font-size: 20px;
}

.green-bg {
    background-color: rgba(0, 255, 0, 0.15); /* Green with 30% opacity */
}

.red-bg {
    background-color: rgba(255, 0, 0, 0.15); /* Red with 30% opacity */
}