.container{
    text-align: center;
    display:flex;
    flex-direction: column;
    height: 100%;
}

.button-container{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    gap:20px;
    min-height: 50px;
}

.stock-header {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #2c61e7;
    text-shadow:
    -1px -1px 0 rgb(12, 5, 150),
    1px -1px 0 rgb(12, 5, 150),
    -1px  1px 0 rgb(12, 5, 150),
    1px  1px 0 rgb(12, 5, 150);
}
