.insider-row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    gap:24px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin: 12px;
    flex:1;
    min-height:125px;
}


.cell-container{
    display: flex;
    flex-direction: column;
}

#openPrice,
#closePrice,
#name,
#date{
    display: flex;
    flex-direction: column;
    gap: 8px;
}


#openPrice p,
#closePrice p,
#name p,
#date p{
    margin:0px;
    padding:4px;
}

#openPrice h3,
#closePrice h3,
#name h3,
#date h3{
    margin:0px;
    text-decoration: underline;
    font-style: italic;
    font-size: 16px;
    padding:4px;
}