.chat-message-box {
    text-align: left;
    flex-grow: 1;                   /* Fills remaining space above input */
    overflow-y: auto;
    margin-bottom: 1rem;
    padding-right: 0.5rem;
    display: flex;
    flex-direction: column;         /* Ensures top-to-bottom message flow */
    max-height: 1;               /* Limit height so scrolling works */
    scrollbar-width: 121;          
    scrollbar-color: #ccc transparent;
  }

  .user {
    font-size: 1;
    color: rgb(0, 0, 0);
    align-self: flex-end;
    background-color: #b3e0fd;
    padding: 0.5rem 1rem;
    border-radius: 1rem 1rem 0 1rem;
    max-width: 70%;
    text-align: right;
    margin-bottom: 0.5rem;
  }

  .bot {
    font-size: 1;
    color: rgb(0, 0, 0);
    align-self: flex-start;
    background-color: #ebf9ea;
    padding: 0.5rem 1rem;
    border-radius: 1rem 1rem 1rem 0;
    max-width: 70%;
    margin-bottom: 0.5rem;
    text-align: left;
  }
  